@{                               //bloco para códigos C#
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Aluno: @ViewData["aluno"]</p>
<h5>Email: @ViewData["email"]</h5>


